---
title: Penthouse In Chelsea
---

{% extends "app/templates/layout.njk" %}
{% block content %}
<p>This sunless top floor mansion flat was divided into cellular rooms before we stripped it down to floor and part external wall only. A new roof structure of steel angles to support structural boarding was installed to maximise the internal height. A new west facing terrace was created at the higher level to enable sunlight to pour into all parts of the new space throughout the day and evening.</p>
<p>A combination of underfloor heating and a highly insulated new roof provide comfort to complement the spaciousness and light of the new apartment. Walls can be slid out for the creation of extra bedrooms as required and the terrace doors slide back to create a large dining or entertaining space at gallery level where the stone floor continues at the same level from inside to outside.</p>
{% endblock %}
