html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #05050f;
  line-height: 1.625rem;
  margin: 0 auto;
  max-width: 960px; }

h1, h2 {
  font-size: 1.125rem;
  font-weight: 500; }

a {
  color: #575757;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  padding: 2em 0 1em;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  header h1 a {
    color: #05050f;
    border-bottom: 0.1em solid #575757;
    padding-bottom: .1em; }
    header h1 a:hover {
      text-decoration: none; }
  header nav ul {
    list-style: none; }
  header nav li {
    display: inline-block;
    padding: 0 1em; }
    header nav li:last-child {
      padding: 0 0 0 1em; }
    header nav li a {
      border-bottom: 0.1em solid #575757;
      padding-bottom: .1em; }
      header nav li a:hover {
        text-decoration: none; }

.about {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em; }
  .about::after {
    clear: both;
    content: "";
    display: table; }
  .about .practice {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .about .practice:last-child {
      margin-right: 0; }
  .about .practice-sketch {
    background: #dedede;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-right: 0; }
    .about .practice-sketch:last-child {
      margin-right: 0; }
  .about .charles {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .about .charles:last-child {
      margin-right: 0; }
  .about .charles-img {
    background: #dedede;
    margin-top: 1.75rem;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0; }
    .about .charles-img:last-child {
      margin-right: 0; }

footer {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  margin: 2em 0; }

.adr {
  margin-bottom: 1rem; }

a[href^="tel:"]:before {
  content: "tel:";
  margin-right: 0.5em; }

a[href^="mailto:"]:before {
  content: "email:";
  margin-right: 0.5em; }

.ckd-logo {
  max-height: 75px;
  width: auto;
  margin-left: 2em; }
