---
title: About
---

{% extends "app/templates/layout.njk" %}
{% block content %}
<div class="about">
    <div class="practice">
    <h2>The Practice</h2>
      <p>As a small practice we believe that the Principal stays at the helm and really drives the creative process as well as the execution of every project. Charles is very hands on, and considers that every design process is a real partnership between the client and designer. We strive to listen, learn and understand.</p>
    <blockquote>Each project is an original interpretation for the client of site, brief and budget.</blockquote>
      <p>We are passionate about harnessing the qualities of natural light, fresh air, views and sunshine to bring joy to all aspects of our buildings as well as to the people and creatures who inhabit them.</p>
    </div>
    <div class="practice-sketch">
      <img src="https://placekitten.com/g/400/360">
    </div>
    <div class="charles">
    <h2>Charles</h2>
      <p>Charles studied architecture at the <a href="http://architecture.brookes.ac.uk/undergraduate/">Oxford School of Architecture</a>, receiving his post graduate Diploma in 1977, completing his professional practice exams and becoming a Registered Architect in 1978 and member of the RIBA in 1979.</p>
      <p>After working with YRM, Scott Brownrigg, and Rodney Gordon at Tripos for whom he was the project leader for an extensive refurbishment of the Bank of England, he set up the practice in 1984. In 1985 he was elected a <a href="https://www.thersa.org/">Fellow of the Royal Society of Arts</a>. He is closely involved in all aspects of each and every project from initial design to final handover of the finished building to the owner.</p>
      <p>Charles feels passionately that his clients should get the best that he can give and with a dedicated team strives to take clients further than they can go themselves. He enthusiastically embraces all architecture and loves to work with listed buildings, where he can hone his considerable skill and knowledge, as well as designing in a clean contemporary manner. Many clients become old friends and the majority of the projects in the office at any one time are for clients who have worked with us for many years.</p>
     </div>
    <div class="charles-img">
      <img src="https://placekitten.com/g/200/380">
    </div>
  </div>
{% endblock %}
