{% include "app/templates/partials/head.njk" %}
{% include "app/templates/partials/header.njk" %}

{% block content %}
  <div class="projects">
      <ul>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://fillmurray.com/g/230/300"></a></li>
     </ul>
  </div>
{% endblock %}

{% include "app/templates/partials/footer.njk" %}
