{% extends "app/templates/layout.njk" %}
{% block content %}
  <div class="projects">
      <ul>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
        <li><a href="#"><img src="https://placekitten.com/g/230/300"></a></li>
     </ul>
  </div>
{% endblock %}
