//Typography
$base-font-size: rem(16);
$base-line-height: rem(26);
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font weights
$light: 100;
$semi-light: 300;
$regular: 400;
$semi-bold: 500;

//Colours
$color-bg-base: rgba(244, 244, 244, 1);
$color-bg-highlight: rgba(222, 222, 222, 1);
$color-text-base: rgba(5, 5, 15, 1);
$color-text-alt: lighten(desaturate($color-text-base, 30), 50);

//Media Queries
$mobile: new-breakpoint(max-width 500px 3);

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $color-text-base;
  // background: $color-bg-base;
  line-height: $base-line-height;
  margin: 0 auto;
  max-width: 960px;
}

h1, h2 {
  font-size: $base-font-size * 1.125;
  font-weight: $semi-bold;
}
