.about {
  @include outer-container;
  margin-bottom: 6em;
  .practice {  @include span-columns(7);margin-bottom: 2em;}
  .practice-sketch {  @include span-columns(5); @include omega();margin-bottom: 2em;}
  .charles {  @include span-columns(9);}
  .charles-img {  @include span-columns(3); @include omega();}
  img {
    margin-top: 1em;
    display: block;
    width: 100%;
  }
  a {
    color: $color-text-base;
    @include transition(color 0.3s ease-in-out);
    border-bottom: .1em solid $color-text-alt;
    padding-bottom: .1em;
  &:hover {
    color: $color-text-alt;
    text-decoration: none;
    }
  }
}

.projects {
  @include outer-container;
  ul{margin: 0; padding: 0;}
    li {
    margin-bottom: 1.4em;
    @include span-columns(3);
    @include omega(4n);
    // border: 1px blue solid;
    @include media($mobile) {
      @include span-columns(3);
      // @include fill-parent;
    }
  }
  img {
    display: block;
    width: 100%;
  }
}




