footer {
  @include align-items(flex-end);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  margin: 2em 0;
  a {
      color: $color-text-base;
      // border-bottom: .1em solid $color-text-alt;
      // padding-bottom: .1em;
      &:hover {
        text-decoration: none;
        }
    }
}

.vcard {
}

.adr {
  // margin-bottom: 1rem;
}

// a[href^="tel:"]:before {
//   content: "tel:";
//   margin-right: 0.5em;
// }

// a[href^="mailto:"]:before {
//   content: "email:";
//   margin-right: 0.5em;
// }

.logos{

}




