header {
  padding: 2em 0;
  @include align-items(baseline);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  h1 {
    a {
      color: $color-text-base;
      border-bottom: .1em solid $color-text-alt;
      padding-bottom: .1em;
      &:hover {
        text-decoration: none;
        }
    }
  }

  nav {
    ul{
      list-style: none;
    }
    li {
      display: inline-block;
      padding: 0 1em;
      &:last-child {
        padding: 0 0 0 1em;
      }
      a {
        border-bottom: .1em solid $color-text-alt;
        padding-bottom: .1em;
      &:hover {
        text-decoration: none;
        }
      }
    }
  }
}
