{% macro active(activePage='default') %}
<nav>
  <ul>
    <li><a href="about.html" class="{%if activePage == 'about' %} active {% endif %}">About Us</a></li> /
    <li><a href="projects.html" class="{%if activePage == 'projects' %} active {% endif %}">Selected Projects</a></li>
  </ul>
</nav>
{% endmacro %}