{% macro active(activePage='home') %}
<nav>
  <ul>
    <li><a href="test.html" class="{%if activePage == 'home' %} active {% endif %}">Test</a></li> /
    <li><a href="about.html" class="{%if activePage == 'home' %} active {% endif %}">About Us</a></li> /
    <li><a href="projects.html" class="{%if activePage == 'home' %} active {% endif %}">Selected Projects</a></li>
  </ul>
</nav>
{% endmacro %}