<header>
  <img class="ckd-logo" src="images/ckd-logo.svg">
    <h1><a href="/">Charles Knowles Design : Architects</a></h1>
    <nav>
      <ul>
        <li><a href="about.html">About</a></li> /
        <li><a href="projects.html">Projects</a></li> /
        <li><a href="planning-advice.html">Planning Advice</a></li>
      </ul>
    </nav>
</header>
