<header>
    <img class="ckd-logo" src="images/ckd-logo.svg">
    <h1><a href="/">Charles Knowles Design : Architects</a></h1>
    {% import 'app/templates/macros/nav.njk' as nav %}
    {{nav.active('about')}}
</header>
