<!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Charles Knowles Design : Architects</title>
      <!--build:css css/style.min.css-->
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/vendor/ideal-image-slider.css" />
      <!--endbuild-->
    </head>
    <body>

{% include "app/templates/partials/header.njk" %}

<!-- You write code for this content block in another file -->
{% block content %} {% endblock %}

{% include "app/templates/partials/footer.njk" %}

<!-- end -->
  <!--build:js js/main.min.js-->
  <script src="js/ideal-image-slider.js"></script>
  <!-- endbuild -->
  <script>
    var slider = new IdealImageSlider.Slider({
    selector: '#slider',
    interval: 4000,
    effect: 'fade',
  });
  slider.start();
  </script>

  </body>
</html>
